# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo

# generated native folders
/ios
/android

# .NET / C# / EngineAPI
**/bin/
**/obj/
*.user
*.rsuser
*.suo
*.userosscache
*.sln.docstates
.vs/
*.dll
*.exe
*.pdb
*.cache
*.apphost
project.lock.json
project.fragment.lock.json
artifacts/

# Rider
.idea/
*.sln.iml
*.DotSettings.user

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
lerna-debug.log*

# Environment variables / secrets
.env
.env.local
.env.*.local

# VS Code
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
*.code-workspace
.history/

# Windows
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db
*.stackdump
[Dd]esktop.ini
$RECYCLE.BIN/

# Misc
*.tmp
*.temp
*.bak
*.swp
*.swo
*.pid
*.seed
*.backup
.cache/
